{% extends "base.html" %}


{% block title %} Home {% endblock %}

{% block content %}
<div class="container text-center">
    <h3 class="text-primary">Welcome, {{ user }}!</h3>
    <ul class="list-group">
        <li class="list-group-item"><h3>Total mailings:</h3> <h4 class="text-info bg-dark">{{ all_mailings }}</h4>
        </li>

        <li class="list-group-item"><h3>Active mailings:</h3> <h4 class="text-info bg-dark">{{ launched_mailings }}</h4></li>

        <li class="list-group-item"><h3>Total unique mail receivers:</h3> <h4 class="text-info bg-dark">{{ unique_receivers }}</h4></li>

    </ul>
</div>
{% endblock %}